<div class="container">
  <a class="logo">
    <img src="../../../assets/Logo.png" alt="main_logo" class="main_logo">
  </a>

  <div class="navigation">
    <a routerLink="feed" routerLinkActive="active feed" class="feed_nav nav ">
      <img src="../../../assets/navigation-icons/rss.svg" alt="feed-icon">
      <p>FEED</p>
    </a>
    <a routerLink="network" routerLinkActive="active network" class="network_nav nav">
      <img src="../../../assets/navigation-icons/users.svg" alt="network-icon">
      <p>NETWORK</p>
    </a>
    <a routerLink="jobs" routerLinkActive="active jobs" class="jobs_nav nav">
      <img src="../../../assets/navigation-icons/briefcase.svg" alt="job-icon">
      <p>JOBS</p>
    </a>
    <a routerLink="chat" routerLinkActive="active chat" class="chat_nav nav">
      <img src="../../../assets/navigation-icons/message-square.svg" alt="chat-icon">
      <p>CHAT</p>
    </a>
    <a routerLink="notices" routerLinkActive="active notices" class="notices_nav nav">
      <img src="../../../assets/navigation-icons/bell.svg" alt="notices-icon">
      <p>NOTICES</p>
    </a>
  </div>

  <div class="search">
    <img src="../../../assets/navigation-icons/search.svg" alt="search-icon">
    <input type="text">
  </div>
</div>
