.container {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 80px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 80px;
    border-right: 1px solid rgba(000, 000, 000, 0.1);

    .main_logo {
      height: 46px;
      width: 46px;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 80px;
      text-decoration: none;
      color: black;
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
